{{#unless this.shouldShowTimer}}
  <section class="clock__utils">
    <LinkTo
      @route="clock.edit"
      @model={{hash id=@id}}
      data-purpose="edit"
      class="clock__util focusable"
      aria-label="edit"
    >
      <span class="oi oi-cog" data-glyph="cog" aria-hidden="true"></span>
      <span class="clock__util-text">Edit timer</span>
    </LinkTo>
    <button
      class="clock__util focusable"
      data-purpose="delete"
      onClick={{action this.onDelete}}
      aria-label="delete"
    >
      <span class="oi oi-trash" data-glyph="trash" aria-hidden="true"></span>
      <span class="clock__util-text">Delete timer</span>
    </button>
  </section>
{{/unless}}
<div class="clock-component focusable"
  data-status={{if this.shouldShowTimer this.timerState "idle"}}
  onclick={{this.handleMainAction}}
  onkeydown={{this.handleMainAction}}
  tabindex="0"
>
  {{#if this.shouldShowTimer}}
    <span
       class="oi oi-media-{{if this.paused "play" "pause"}} clock-component__pause-overlay"
      data-glyph="media-{{if this.paused "play" "pause"}}" aria-hidden="true"
    >
    </span>
  {{/if}}
  <h2 class="clock-component__title">
    <b>{{~@config.name~}}</b>
    {{~#if this.shouldShowTimer}}
      <span class="clock-component__round">
        round {{plus-one this.currentRound}} of {{@config.round}}
      </span>
    {{/if~}}
  </h2>
  <p class="clock-component__status">
    {{this.statusText}}
  </p>
  {{#if this.shouldShowTimer}}
    <ProgressBar @total={{@config.round}} @current={{this.currentRound}}/>
    <div class="clock-component__timer">
      <span class="clock-component__current-time">{{this.second}}</span>
    </div>
    <button class="clock-component__button" type="button" onclick={{this.handleStop}}>
      <span class="oi oi-power-standby" data-glyph="power-standby" aria-hidden="true"></span>
      END WORKOUT
    </button>
    <Circle class="clock-component__svg" @radius="90%" @progress={{this.progress}} @hasOuterRing={{true}} />
    <Circle class="clock-component__svg-outer" @radius="100%" @progress={{this.totalProgress}} />
    <Circle class="clock-component__svg-outer clock-component__svg-outer--shadow" @radius="100%" @progress={{2}} />
  {{/if}}
</div>