<section class="clock-link">
  <LinkTo class="clock-link__anchor focusable" @route="clock" @model={{@index}}>
    <h2 class="clock-link__name">{{@config.name}}</h2>
    <ul class="clock-link__duration">
      <li>total duration: {{this.totalDuration}}</li>
      <li>work: {{ms-to-printable @config.timeOn}}</li>
      <li>rest: {{ms-to-printable @config.timeOff}}</li>
      <li>round: {{@config.round}}</li>
    </ul>
  </LinkTo>
  <LinkTo @route="clock.edit" @model={{@index}} class="clock-link__edit focusable" onClick={{this.onEdit}}>
    <span class="oi oi-cog" data-glyph="cog" aria-hidden="true"></span>
  </LinkTo>
</section>