<div class="clock-component"
  data-status="{{if this.shouldShowTimer this.timerState "idle"}}"
  onclick={{this.handleMainAction}}
>
  <div class="clock-component__meta">
    <h2 class="clock-component__title">
      <b>{{~@config.name~}}</b>
      {{~#if this.shouldShowTimer}}
        <span class="clock-component__round">
          round {{this.currentRound}} of {{@config.round}}
        </span>
      {{/if~}}
    </h2>
  <p class="clock-component__status">{{this.statusText}}</p>
  </div>
  {{#if this.shouldShowTimer}}
    <p class="clock-component__timer">{{this.second}}</p>
    <button type="button" onclick={{this.handleStop}}>Reset</button>
  {{/if}}
</div>

<svg width="300" height="300"
     xmlns="http://www.w3.org/2000/svg" version="1.1">
  <circle class="circle" cx="150" cy="150" r="150"
        fill="none" stroke="blue" stroke-width="1"  />
</svg>