<section class="clock-link">
  <LinkTo class="clock-link__anchor focusable" @route="clock" @model={{@index}}>
    <h2 class="clock-link__name">{{@config.name}}</h2>
    <section class="clock-link__bd">
      <table class="clock-link__spec">
        <tr><td>work</td><td>{{ms-to-printable @config.timeOn}}</td></tr>
        <tr><td>rest</td><td>{{ms-to-printable @config.timeOff}}</td></tr>
        <tr><td>round</td><td>{{@config.round}}</td></tr>
        <tr class="clock-link__spec-summary-row">
          <td>overal</td><td>{{this.totalDuration}}</td>
        </tr>
      </table>
    </section>
  </LinkTo>
</section>