<div class="clock-component"
  data-status="{{if this.shouldShowTimer this.timerState "idle"}}"
  onclick={{this.handleMainAction}}
>
  <div class="clock-component__meta">
    <h2 class="clock-component__title">
      <b>{{~@config.name~}}</b>
      {{~#if this.shouldShowTimer}}
        <span class="clock-component__round">
          round {{this.currentRound}} of {{@config.round}}
        </span>
      {{/if~}}
    </h2>
  <p class="clock-component__status">{{this.statusText}}</p>
  </div>
  {{#if this.shouldShowTimer}}
    <p class="clock-component__timer">{{this.second}}</p>
    <button class="clock-component__button" type="button" onclick={{this.handleStop}}>Reset</button>
    <svg class="clock-component__svg" width="100%">
      <circle
        class="clock-component__circle clock-component__circle--animated"
        cx="50%"
        cy="50%"
        r="48%"
        fill="none"
        stroke-width="4%"
        style="stroke-dashoffset:{{this.dash}}"
      />
      <circle
        class="clock-component__circle"
        cx="50%"
        cy="50%"
        r="49.5%"
        fill="none"
        stroke-width="1%"
      />
    </svg>
  {{/if}}
</div>