<section class="timer-link">
  <LinkTo class="timer-link__anchor focusable" @route="timer" @model={{@index}}>
    <h2 class="timer-link__name">{{@config.name}}</h2>
    <section class="timer-link__bd">
      <table class="timer-link__spec">
        <tr><td>work</td><td>{{ms-to-printable @config.timeOn}}</td></tr>
        <tr><td>rest</td><td>{{ms-to-printable @config.timeOff}}</td></tr>
        <tr><td>round</td><td>{{@config.round}}</td></tr>
        <tr class="timer-link__spec-summary-row">
          <td>overal</td><td>{{this.totalDuration}}</td>
        </tr>
      </table>
    </section>
    <section class="timer__utils">
      <button
        class="timer__util focusable focusable--text"
        data-purpose="edit"
        onClick={{action this.onEdit}}
        aria-label="edit"
      >
        <span class="oi oi-cog" data-glyph="cog" aria-hidden="true"></span>
        <span class="timer__util-text">Edit</span>
      </button>
      <button
        class="timer__util focusable focusable--text"
        data-purpose="delete"
        onClick={{action this.onDeleteConfirm}}
        aria-label="delete"
      >
        <span class="oi oi-trash" data-glyph="trash" aria-hidden="true"></span>
        <span class="timer__util-text">Delete</span>
      </button>
      <button
        class="timer__util focusable focusable--text"
        data-purpose="delete"
        onClick={{action this.onShare}}
        aria-label="delete"
      >
        <span class="oi oi-share-boxed" data-glyph="share-boxed" aria-hidden="true"></span>
        <span class="timer__util-text">Share</span>
      </button>
    </section>
  </LinkTo>
</section>
{{#if this.isShareModalOpen}}
  {{#modal-dialog}}
    <h4 class="ember-modal-dialog__header">Copy page link</h4>
    <div class="ember-modal-dialog__url-container">
      {{#if this.urlCopied}}
        <div class="ember-modal-dialog__copied-hint">
          <span class="oi oi-check" data-glyph="check" aria-hidden="true"></span>
          Copied
        </div>
      {{/if}}
      <input onclick={{action this.onCopy}} class="focusable ember-modal-dialog__url-input" type="url" value={{this.shareableUrl}} readonly>
    </div>
    <div class="ember-modal-dialog__footer">
      <button class="timer-component__button focusable" {{action (mut this.isShareModalOpen) false}}>
        <span class="oi oi-x" data-glyph="x" aria-hidden="true"></span>
        CLOSE
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}
{{#if this.isDeleteModalOpen}}
  {{#modal-dialog}}
    <h4 class="ember-modal-dialog__header">are you sure to delete "{{this.args.config.name}}"?</h4>
    <div class="ember-modal-dialog__footer">
      <button class="timer-component__button focusable btn btn--secondary"
        {{action (mut this.isDeleteModalOpen) false}}>
        Cancel
      </button>
      <button class="timer-component__button focusable btn"
        onClick={{action this.onDelete}}>
        Continue
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}