<form class="timer-edit" onsubmit={{action this.onSubmit}}>
  <h2 class="timer-edit__title">
    <span class="inline-icon oi oi-cog" data-glyph="cog" aria-hidden="true"></span>
    <span>Customize your timer</span>
  </h2>
  <div class="timer-edit__form-group">
    <label class="timer-edit__form-label">name</label>
    <input
      type="text"
      class="timer-edit__form-control focusable"
      maxlength="10"
      value={{this.name}}
      oninput={{action this.onChange "name"}}
    >
  </div>
  <div class="timer-edit__form-group">
    <label class="timer-edit__form-label">rounds ({{this.round}})</label>
    <input
      class="timer-edit__form-control focusable"
      type="range"
      min="1"
      max="20"
      step="1"
      value={{this.round}}
      oninput={{action this.onChange "round"}}
    >
  </div>
  <div class="timer-edit__form-group">
    <label class="timer-edit__form-label">work ({{ms-to-printable this.timeOn}})</label>
    <input
      class="timer-edit__form-control focusable"
      type="range"
      min="10000"
      max="120000"
      step="5000"
      value={{this.timeOn}}
      oninput={{action this.onChange "timeOn"}}
    >
  </div>
  <div class="timer-edit__form-group">
    <label class="timer-edit__form-label">rest ({{ms-to-printable this.timeOff}})</label>
    <input
      class="timer-edit__form-control focusable"
      type="range"
      min="10000"
      max="120000"
      step="5000"
      value={{this.timeOff}}
      oninput={{action this.onChange "timeOff"}}
    >
  </div>
  <div class="timer-edit__form-group">
    <label class="timer-edit__form-label">total duration</label>
    <input
      type="text"
      class="timer-edit__form-control focusable"
      readonly
      value={{ms-to-printable this.totalDuration}}
    >
  </div>
  <div class="timer-edit__form-group timer-edit__cta-container">
    <LinkTo @route="index" class="btn btn--secondary focusable">nevermind</LinkTo>
    <input class="btn focusable" type="submit" value="looks good">
  </div>
</form>