{{title "edit timer"}}
<section class="app">
  <TimerEdittor
    @timerId={{this.model.timerId}}
    @name={{this.model.timerConfig.name}}
    @round={{this.model.timerConfig.round}}
    @timeOn={{this.model.timerConfig.timeOn}}
    @timeOff={{this.model.timerConfig.timeOff}}
  />
</section>